#map, #grid-map, #pointmap {
      width:100%;
      height:400px;
      float:left;
    }

#map-canvas {
  width:100%;
  height:400px;
}


body, html {
  background:#ffffff;
  height:100%;
  padding: 0;
  margin: 0;
}